* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative; }

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  min-height: 100%;
  background: none; }

body {
  min-height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 23, 23, 0.67)), to(rgba(25, 23, 23, 0.67))), url("../images-min/sopranos.jpg") no-repeat center center;
  background: linear-gradient(rgba(25, 23, 23, 0.67), rgba(25, 23, 23, 0.67)), url("../images-min/sopranos.jpg") no-repeat center center;
  background-size: cover; }

.grid {
  z-index: 1; }

* {
  color: white;
  font-family: 'Lora', serif; }

header {
  text-align: center; }
  header h1 {
    padding-top: 2em;
    font-size: 4em; }
    header h1 span {
      opacity: 0; }

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 5.5em; } }

#cta {
  margin-top: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #cta .cta-inner {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: center; }
    #cta .cta-inner button, #cta .cta-inner i {
      -webkit-transition: 200ms ease-in-out all;
      transition: 200ms ease-in-out all; }
    #cta .cta-inner button {
      background-color: white;
      color: #232323;
      padding: 1em;
      font-family: 'Droid Sans', sans-serif;
      font-size: 1.2em;
      border: none;
      cursor: pointer; }
    #cta .cta-inner ul {
      list-style-type: none; }
      #cta .cta-inner ul li {
        display: inline-block;
        padding: 1em;
        font-size: 1.5em; }

@media screen and (min-width: 768px) {
  #cta {
    margin-top: 10em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    #cta .cta-inner {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

@media screen and (min-width: 1024px) {
  #cta button:hover {
    background-color: #711314;
    color: white; }
  #cta i:hover {
    color: #711314; } }
