* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative; }

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  height: 100%; }

body {
  background: url("../images/sopranos.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; }

.grid {
  z-index: 1; }

.tint:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(25, 23, 23, 0.67); }

* {
  color: white; }

header {
  text-align: center;
  font-family: 'Lora', serif; }
  header h1 {
    padding-top: 2em;
    font-size: 4em; }

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 5.5em; } }
