*
	box-sizing: border-box
	margin: 0
	padding: 0
	position: relative
	

*:before, *:after
	box-sizing: inherit


body
	background: url('../images/sopranos.jpg') no-repeat center center
	background-size: cover